html, body {
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
  }
  #content {
    padding-top: 170px;
    padding-bottom: 40px;
    width: 584px;
    margin: 0 auto;
  }
  #search-box {
    margin-top: 30px;
    width: 100%;
    height: 40px;
    border-radius: 30px;
    border: 1px solid #c6c1ee;
    padding: 0 10px;
  }
  #search-box:focus {
    border-color: #4d90fe;
    outline: none;
  }
  input[type="submit"] {
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 2px;
    color: #353232;
    font-size: 13px;
    font-weight: bold;
    min-width: 54px;
    padding: 7px 16px;
    margin: 0 2px;
  }
  input[type="submit"]:hover {
    border-color: #C6C6C6;
    background-color: #F8F8F8;
    color: #222;
  }
  .blue{
color: blue;
  }
  #languages{
    font-size: small;
  }
  ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  #header > ul {
    padding: 15px;
    float: right;
    height: 30px;
  }
  #header > ul > li {
    float: left;
    margin: 0 10px;
    font-size: small;
  }
  a {
    color: #222;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
    color:blue; 
  }
  #user-menu {
    display: flex;
    align-items: center;
    background-color: #be205f;
    border-radius: 50%;
    width: 32px; 
    height: 32px;
  }
  #user-initial {
    width: 100%;
    font-size: large;
    text-align: center;
    color: #FFF;
  }
  #footer {
    background-color: #F2F2F2;
    border-top: 1px solid #E4E4E4;
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  #footer ul {
    height: 100%;
  }
  #footer li {
    padding-left: 27px;
    font-size: small;
  }
  #footer li a {
    color: #666;
  }
  #footer-left {
    float: left;
  }
  #footer-right {
    float: right;
    padding-right: 27px;
  }