

#wrapper {
  min-height: 100%
  position: relative;
}

#content {
  padding-top: 170px;
  padding-bottom: 40px;
  width: 584px;
  margin: 0 auto;
}
ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#header > ul {
  padding: 15px;
  overflow: hidden;
  float: right;
  height: 30px;
}

#header > ul > li {
  float: left;
  margin: 0 10px;
  font-size: 13px;
}


a {
  color: #222;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.google #google_logo {
    text-align: center;
    display: block;
    margin: 0 auto;
    clear: both;
    padding-top: 112px;
    padding-bottom: 20px;
  }

  .form {
    text-align: center;
  }
 
  #form-search { 
    width: 600px;
    line-height: 45px;
    padding: 20px 10px;
    border:  2px solid rgb(201, 195, 195);
    border-radius: 15px;
   /* border-color: rgb(190, 167, 206);*/
  }
  .form #form-search {
    padding: 0 8px;
  }
  .buttons {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 300px;
  }

#apps{
  background-image: url("https://ssl.gstatic.com/gb/images/i1_1967ca6a.png");
  background-size: 528px 68px;
  width: 30px;
  height: 30px;
  background-position: -132px -38px;
  opacity: 0.55;
}
#apps:hover {
  opacity: 1;
}

#google_Account {
  display: flex;
  align-items: center;
  background-color: #1837c2;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

#google-initial {
  width: 100%;
  text-align: center;
  color: #FFF;
}

/* Footer */
footer  {
    background: #f2f2f2;
    border-top: solid 2px #e4e4e4;
    bottom: 0;
    padding-bottom: 0;
    width: 100%;
    
  }
  footer ul li {
    display: inline;
    color: #666666;
    font-size: 14px;
    padding: 14px;
  }
  
  footer ul {
    float: left;
    padding: 1px;
  }
  
  footer ul a:hover {
    text-decoration: underline;
  }
  
  .footer-right {
    float: right;
  }
  