body {
    margin: 0;
    padding: 0;
    background: #333;
    color: #fff;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
#display {
    width: 375px;
    margin: auto;
    margin-top: 1em;
    text-align: right;
}
.btn {
    width: 75px;
    padding: 15px;
    font-size: 1em;
    margin: 10px 10px 10px 10px;
}
.c-button {
    width: 375px;
}