
.full-height {
    height: 100vh;
}

.make-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.border {
    border: 1px solid black;
}

.container {
    height: 40vh;
    width: 30vw;
}

.flex-container {
    display: flex;
    background-color: black;
  }
  
.flex-container > div {
background-color: gainsboro;
color: black;
width: 100px;
margin: 10px;
text-align: center;
line-height: 75px;
font-size: 30px;
}

