
.textview{
	background-color: rgb(19, 18, 18);
	color: rgb(248, 246, 246);
  display: inline-block;
	width: 205px;
	height: 38px;
	font-size: 20px;
    font-weight: bold;
}

.equalButton {
	background-color: rgb(19, 18, 18);
	color: rgb(248, 246, 246);
    cursor: pointer;
	display: inline-block;
	margin: 2px;
	width: 50px;
	height:100px;
    outline: none;
	font-size: 20px;
	font-weight: bold;
  
}

.button {
	background-color: rgb(19, 18, 18);
	color: rgb(248, 246, 246);
    cursor: pointer;
	display: inline-block;
	width: 50px;
	height: 50px;
	font-size: 20px;
	font-weight: bold;
	outline: none;
  
}



.button:hover,.equalButton:hover {
	background-color: #FFBA75;
}

.allclearButton {
	background-color: rgb(90, 8, 8);
	color: rgb(248, 246, 246);
	width: 50px;
	height: 50px;
	outline: none;
}

h1{
	color:#27183b;
	font-size: 82px;
    text-justify: newspaper;
    text-align: center;

}
.container{
	
		position:absolute;
        top:50%;
        left:50%;
        transform:translateX(-50%) translateY(-50%)
}


      
